<li class="nav-item">
  <a class="header-link nav-item flex-container align-center" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
  <p><%= product[:short_name] %></p>
  </a>
</li>
